<ion-header>
  <ion-toolbar color="success">
  
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-label position="floating">Add Notes Here</ion-label>
  <ion-input type="text"></ion-input>
  
 </ion-item> 

<ion-tabs>
  <ion-tab-bar slot="bottom">

<ion-tab-button tab="notes">
<ion-icon name="clipboard-outline" color="success"></ion-icon>
  <ion-label>Notes</ion-label>
</ion-tab-button>

<ion-tab-button tab="password">
  <ion-icon name="lock-closed-outline" color="success" routerLink="/password"></ion-icon>
    <ion-label>Password</ion-label>
  </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
</ion-content>
